 @media (max-width:768px) and  (max-height:1024px) {
    body{
        font-size: 14px;
    }
    .nav{
        flex-direction: column;
        gap:10px;
    }
.grid{
    grid-template-columns: 1fr;
}
.container{
    margin: 10px auto;
}
.footer{
    font-size: 14px;
}
.but{
    padding: 6px 12px;
}
}   
 .container{  
    width:500px ;
    height:200px auto;
    padding:4px ;
    margin:25px auto;
    border:2px solid black ;
    box-shadow:4px 4px 10px;
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
}
.nav{
    display: flex;
    background-color: darkcyan;
    padding-inline:200px;
    column-gap: normal;
    border: 2px solid black;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  
}
h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style:italic;
    text-align: center;
    text-decoration:underline;
}
 .box{
    border-radius: 8px;
    width:300px;
    height:130px auto;
    border:2px solid rgb(124, 123, 123);
    margin-bottom:2px;
  }
  ul{
     padding:0;
     margin:0;
     border-radius: 8px;
     list-style: none;
  }
.flexbox{
    display: flex;
    align-items:center;
    border: 2px solid black;
}
.grid {
    display:grid;
    font-family: 'Courier New', Courier, monospace;
    align-items: center ;
    grid-template-columns:1fr 1fr;
    column-gap:10px;
    grid-template-rows: auto;
}
.items{
    background: darkcyan;;
    padding:10px;
    margin:2px;
}
.badge{
    font-family:Arial;
    color:blue;
    width:62px;
  display: inline-block;
  padding: 6px 10px;
  background: #eee;
  border-radius: 6px;
   background-color:darkcyan;;
  
}
.badgee{
    width:52px;
  display: inline-block;
  padding: 6px 10px;  
}
footer{   
    text-align: center;
    width: 13px auto;
    height:40px;
    text-decoration: underline;
    border:3px solid black;
    background-color: rgb(71, 71, 71);
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.but:hover{
     cursor:pointer;
    }
.but{
    border-radius: 6px;
    font-family:Arial;
    margin-top:0px;
    padding:30px;
    color:white;
    padding:4px;
    background-color:rgb(18, 68, 233);
    margin-left:25px;
}
   